body {
  color: #1a2b3c;
  font-family: "Space Grotesk", sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 8px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(65, 50, 100, 0.1);
  border-radius: 10px;
  border: #59139f solid 6px;
}

main {
  padding: 30px;
}
