a {
  color: #c2185b;
  font-weight: lighter;
  text-decoration: none;
}

#search-form {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: solid rgb(128, 128, 128, 0.1);
}

.form-input {
  width: 450px;
  padding: 10px 20px;
  border: none;
  color: #7a7a7a;

  font-size: 16px;
  border-radius: 6px;
}

.form-button {
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #c2185b;
  color: white;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin-top: 10px;
  font-size: 35px;
  line-height: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.weather-app-details {
  font-size: 16px;
  line-height: 25px;
}

.weather-app-temperature {
  display: flex;
  padding-right: 20px;
  padding-top: 35px;
}

.weather-app-icon {
  width: 100px;
  height: 88px;
  margin-top: 30px;
}

.WeatherTemperature {
  display: flex;
}
.weather-app-temperature-value {
  font-size: 54px;
  font-weight: bolder;
  margin: 40px 40px 0 10px;
  margin-right: 10px;
}

.weather-app-units {
  margin-top: 50px;
  position: relative;
  line-height: 1;
}
.selector {
  font-family: "GilroyRegular";
  font-style: italic;
}
