.WeatherForecast {
  padding-top: 20px;
  text-align: center;
  display: flex;
}

.col-sm {
  display: inline-block;
  margin: 30px;
}

.forecast-date {
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}

.forecast-icon {
  width: 60px;
  display: flex;
  margin-left: 0;
}

.forecast-temperature-max {
  font-size: 13px;
  font-weight: bold;
}

.forecast-temperature-min {
  font-size: 13px;
  font-weight: lighter;
}
