.weather-forecast {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.forecast-date {
  font-weight: bold;
  font-size: 13px;
}

.forecast-icon {
  width: 70px;
  display: flex;
  margin-left: 0;
}

.forecast-temp-max {
  font-size: 13px;
  font-weight: bold;
}

.forecast-temp-min {
  font-size: 13px;
  font-weight: lighter;
}
